.container {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: stretch;
    padding: 20px;
}

.headerReview {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.rating {
    display: flex;
    align-items: center;
}

.content {
    justify-content: left;
    align-items: flex-start;
}

.actions {
    display: flex;
    align-items: center;
    gap: 6px;
}