.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.headerReview {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.rating {
    display: flex;
    align-items: center;
}

.content {
    justify-content: left;
    align-items: flex-start;
}

.actions {
    display: flex;
    align-items: center;
    gap: 6px;
}