.container {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 1px solid var(--border-light);
    box-shadow: 0 8px 18px var(--shadow-low);
    border-radius: 10px;
    background-color: var(--on-secondary);
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: stretch;
    padding: 20px;
}

.headerReview {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.rating {
    display: flex;
    align-self: center;
}

.content {
    justify-content: left;
    align-items: flex-start;
}

.actions {
    align-self: flex-start;
    margin-left: auto;
}

.reviewerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}