.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.memberList {
  list-style-type: none;

}

@media (min-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
    gap: 20px;
  }

  .feedContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

