.container {
    display: flex;
    gap: 150px;
    align-items: flex-start
}

@media (max-width: 780px) {
    .container {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
}