.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 12px;
}

.memberList {
	list-style-type: none;
}

.postList {
	width: 100%;
	margin: 0 auto;
	max-width: 650px;
}

@media (min-width: 960px) {
	.container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 20px;
	}

	.feedContainer {
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	.postList {
		max-width: 800px;
	}
}