.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    margin-top: 24px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    border-radius: 16px;
    padding: 24px;
}
