:root {
	
	--primary:#E3550B;
 	--on-primary: #ffffff;
	
	--secondary: #D4C78E;
	--on-secondary: #ffffff;
	
	--tertiary: #612082 ;
	--on-tertiary: #ffffff;

	--disabled: #676767;
	--on-disabled: #ffffff;

	--error: #BA1A1A;
	--on-error: #FBF8FF;
	
	--surface: #d8dae0;
	--on-surface: #191c20;

	--background: #FBF8FF;
	--on-background: #63607A ;

	--max-width: 1920px;
	--min-width: 360px;

	--border: #8e8c8c43;

	--notification-comment: #b6dffc; 
	--notification-upvote: #b3f5b9; 
	--notification-downvote: #fec0ca; 
	--notification-assist: #fef0c1; 
	--notification-follow: #f1bafa;

	--status-active: #22c55e; 
	--status-inactive: #9ca3af;
	--status-deleted: #ef4444; 
	--status-ended: #f59e0b;

	--shadow-low: rgba(0, 0, 0, 0.05);
    --overlay-backdrop: rgba(0, 0, 0, 0.25);
	--border-hover: #AFAFAF; 
}