:root {
	
	--primary:#E3550B;
 	--on-primary: #ffffff;
	
	--secondary: #D4C78E;
	--on-secondary: #ffffff;
	
	--tertiary: #612082 ;
	--on-tertiary: #ffffff;

	--disabled: #676767;
	--on-disabled: #ffffff;

	--error: #BA1A1A;
	--on-error: #FBF8FF;
	
	--surface: #d8dae0;
	--on-surface: #191c20;

	--background: #FBF8FF;
	--on-background: #63607A ;

	--max-width: 1920px;
	--min-width: 360px;

	--border: #8e8c8c43;
	--detail: #afafaf;

	--notification-comment: #9ed6fe; 
	--notification-upvote: #96ff9e; 
	--notification-downvote: #fb9dad; 
	--notification-assist: #ffe591; 
	--notification-follow: #ed9ff9;

	--status-upcoming: #3b82f6; 
	--status-in-progress: #16a34a;
	--status-deleted: #ef4444; 
	--status-ended: #f59e0b;
	--status-cancelled: #a855f7;
	--status-unread: #eef7ff;

	--shadow-low: rgba(0, 0, 0, 0.05);
    --overlay-backdrop: rgba(0, 0, 0, 0.25);
	--modal-overlay: rgba(0, 0, 0, 0.5);
	--shadow-medium: rgba(0, 0, 0, 0.12);
	--black-light: rgba(0, 0, 0, 0.2);

	--muted: #6b7280;
	--pill-background: #f1f1f4;
	--border-light: #e5e7eb;
	--surface-light: #f3f4f6;
	--text-secondary: #4b5563;
	--status-ended-variant: #f97316;

	--menu-button: #374151;
	--blue-light: #9ec5ff;
	--text-muted: #7d7d84;
}