.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--on-primary); 
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 13px; 
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; 
    white-space: nowrap; 
    width: 90px;
    min-width: 65px;
}

.ACTIVE {
    background-color: var(--status-active); 
}

.INACTIVE {
    background-color: var(--status-inactive); 
}

.DELETED {
    background-color: var(--status-deleted);  
}

.ENDED {
    background-color: var(--status-ended);    
}