.container {
    width: 120px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    flex-direction: row;
    overflow: hidden;
    gap: 8px;
    padding-right:5px;
}

.button {
    display: flex;
    flex: 1;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 0; 
    color: var(--on-primary);
    background-color: transparent;
    justify-content: center;
    gap: 6px;
}

.icon {
    width: 12px;
    height: 12px;
}

.count {
    gap: 8px;
    font-weight: 500;
    color: var(--detail)
}