.container {
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-direction: column;
    gap: 15px;
}

.text {
    font-size: 15px;
}

.memberList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.detail {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
    .lists {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
