.container {
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.text {
    font-size: 15px;
    color: var(--text-muted);
}

.memberList {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}


.lists {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

@media (max-width: 970px) {
    .container {
        width: 100%;
    }

    .lists {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}