.container {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.list {
    width: 100%;
    margin-bottom: 40px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;      
}

.itemContainer {
    width: 100%;
}

.noResultsMessage {
    width: 100%;
    color: var(--disabled); 
    text-align: center; 
    margin-top: 60px; 
    padding: 20px; 
}