.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.list {
    padding: 0;                
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;      
    width: 100%;
}

.noResultsMessage {
    color: var(--disabled); 
    text-align: center; 
    margin-top: 60px; 
    padding: 20px; 
    width: 100%;
}

.list > :first-child {
    border-top: 1px solid var(--border);
}