.container {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    color: var(--primary);
    
    cursor: pointer;
    transition: color 0.2s ease;
    display: flex;
    align-items: center;
}

.container:hover {
    color: var(--secondary);
    text-decoration: underline;
}