.container {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; 
    border-radius: 10px;
    padding: 16px;
    gap: 12px;
    border: 1px solid var(--border-light);   
    background: var(--on-secondary); 
    box-shadow: 0 8px 18px var(--shadow-low);
    margin-bottom: 15px;
    margin-top: 15px;
}

.headerPost {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.postBody {
    margin-top: 8px; 
    display: flex;
    flex-direction: column;
}

.clickableContent {
    cursor: pointer;
}

.title {
    font-weight: 600;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;  
    border-top: 1px solid var(--detail);
    padding-top: 8px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menuContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.image {
    width: 100%;
    border-radius: 12px;
}

.content {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

.postInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.nameRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text {
    font-weight: 500;
}

.commentButton {
    background-color: transparent !important;
    padding: 0 5px !important;
    height: 25px !important;
}

.commentButton span {
    color:var(--detail) !important;
    font-weight: 500;
}

.commentButton:hover {
    background-color: rgba(0,0,0,0.05) !important;
}

@media (max-width: 760px) {
    .container {
        justify-content: center;
        padding: 15px;
        gap: 20px;
    }
    .actions {
        gap: 8px;
    }
}