.container {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; 
    padding: 20px;
    gap: 40px;
    border: 1px solid var(--border);
}

.headerPost {
    display: flex;
    align-items: center;
    gap: 8px;
}

.postBody {
    margin-top: 8px; 
    display: flex;
    flex-direction: column;
}

.clickableContent {
    cursor: pointer;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;            
}

.actions {
    display: flex;
    align-items: center;
    gap: 2px;
}

.image {
    width: 100%;
    border-radius: 12px;
}

.content {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

@media (max-width: 760px) {
    .container {
        justify-content: center;
        padding: 15px;
        gap: 20px;
    }
    .actions {
        gap: 8px;
    }
}