.container {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    gap: 24px;
    border: 1px solid var(--border);
    margin-top: 15px;
    margin-bottom: 15px;
}

.headerPost {
    display: flex;
    align-items: center;
    gap: 10px;
}

.clickableContent {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.eventDates {
    display: flex;
    gap: 4px;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    border-top: 1px solid var(--border-light); 
    color: var(--text-secondary);
}

.dateInit {
    font-weight: 700; 
    color: var(--primary); 
    padding: 2px 6px;
    border-radius: 4px;
}

.dateEnd {
    font-weight: 700; 
    padding: 2px 6px;
    color: var(--primary); 
    border-radius: 4px;
}

.eventBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portrait {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.content {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    color: var(--text-primary);
    font-size: 1rem;
    line-height: 1.4rem;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.metaGroup {
    display: flex;
    align-items: center;
    gap: 16px; 
}

.meta {
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--text-secondary);
}

.viewIcon {
    width: 16px;
    height: 16px;
    color: var(--primary)
}

.personIcon {
    width: 16px;
    height: 13px;
    color: var(--primary)
}

.actions {
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (max-width: 760px) {
    .container {
        padding: 16px;
        gap: 18px;
    }

    .eventDates {
        font-size: 0.85rem;
    }

    .meta {
        gap: 10px;
        font-size: 0.85rem;
    }

    .actions {
        gap: 8px;
    }
}
