.container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noResultsMessage {
    width: 100%;
    margin-top: 60px; 
    padding: 20px; 
    text-align: center;
    color: var(--disabled); 

}
