.container {
    padding: 10px 16px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.875rem;
    color: #374151;
    width: 100%;
}

.container:hover {
    background-color: #f0f1f1;
}