.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.portraitContainer {
  width: 100%;
  height: 500px;
  position: relative;
}

.portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 15px;
  gap: 10px;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -80px;
}

.buttonContainer {
  width: 169px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.buttonContainer button {
  width: 100%;
  padding-left: 15px;
  justify-content: space-between;
  text-align: center;
}

.buttonContainer button span {
  padding-left: 8px;
}

.buttonContainer button img {
  transform: translateX(-5px);
}

.bio {
  color: var(--text-soft-black);
}

.buttonAnimation {
  transition: all 0.2s ease-out;
}

.buttonAnimation:hover {
  transform: translateY(-1px);
  filter: brightness(0.95);
}

.buttonAnimation:active {
  transform: translateY(0);
}

.chatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  left: -60px;
  top: 0;
  transition: all 0.2s ease-out;
}

.chatButton:hover {
  transform: scale(1.05);
  /* Desktop hover */
  filter: brightness(1.05);
  /* Slightly brighter/darker */
}

.chatButton:active {
  transform: scale(0.95);
}

.chatIcon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
  }

  .portraitContainer {
    width: 100%;
    height: 150px;
  }

  .buttonContainer button {
    align-content: center;
    padding-left: 2px;
  }

  .buttonContainer button:has(img) {
    justify-content: space-between;
  }

  .buttonContainer button:not(:has(img)) {
    justify-content: center;
    text-align: center;
  }

  .buttonContainer button:has(img)::before {
    content: '';
    width: 24px;
    visibility: hidden;
  }

  .info {
    gap: 10px;
    margin-bottom: 10px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
  }

  .chatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    left: auto;
    top: auto;
    animation: slideUpFade 0.3s ease-out forwards;
  }
}