.container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
    margin: 0 auto;
}

.searchBox {
    width: 100%;
}

.content {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
