.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.list {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--secondary);    
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.noResultsMessage {
    color: var(--disabled); 
    text-align: center; 
    margin-top: 60px; 
    padding: 20px; 
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        justify-content: center;
        padding: 10px;
    }
    .list {
        padding: 10px;
    }
}