.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    box-sizing: border-box;
}

.delimiter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--on-secondary);
    border-radius: 12px;
    border: 1px solid var(--border-light);
    padding: 8px 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    gap: 12px;
}

.secondaryIconButton {
    flex: 1;
}

.secondaryIconButton button {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--border);
    color: var(--on-background);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.secondaryIconButton button img {
    margin-left: auto;
}

.secondaryIconButton button:hover {
    background-color: var(--shadow-low);
}