.container {
  	width: 100%;
   	height: 70px;
    width: 100%;
    padding: 0 20px;
	background-color: var(--primary);
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.delimiter {
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
}

.content {
  width: 100%;
  max-width: var(--max-width); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--border-padding);
}

.isologo {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.isologo > img {
    height: 30px;
}

.burgerImg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.routesContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

