.container {
    height: 70px;
    width: 100%;
    padding: 0 20px;
    background-color: var(--primary);
}

.delimiter {
    width: 100%;
    padding: 0 !important;
}

.content {
    height: 100%;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.isologo {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.isologo > img {
    height: 30px;
}

.routesContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.routes {
    display: flex;
    gap: 20px;
}