.container {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin: auto;
}

.filters {
    min-width: 200px;
    margin: 15px;
}

.searchBox {
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        margin: auto;
    }
    .filters {
        width: 100%;
        margin: 10px 0;
    }
}