.container {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin-top: 5px;
    gap: 15px; 
}

.profileInfo {
    display: flex;
    align-items: center;
    gap: 15px; 
}
.shortDescription {
    color: var(--surface);
    font-size: 15px;
}

.buttonContainer {
    width: 180px; 
    flex-shrink: 0; 
}