.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.buttonContainer {
    display: flex;
    cursor: pointer;
}

.searchButton {
    width: 100px; 
    height: 45px;
    border: 1px solid var(--primary);
}