.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto 0;
    width: 100%; 
    gap: 40px;
    margin-top: 20px;
}

.activities {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    gap: 10px;
}
