.container {
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-direction: column;
    gap: 15px;
}

.text {
    color: var(--text-muted);
}

.memberList {
    list-style-type: none;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}