.container {
    position: relative;
    display: inline-block;
}


.menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 140px;
    background: var(--on-primary);
    border: 1px var(--bo);
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px var(--modal-overlay);
    z-index: 50;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menu .deleteBtn {
    color: var(--status-deleted); 
}

.menu .deleteBtn:hover {
    background-color: var(--pill-background-delete);
}

.invisibleBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    cursor: default;
}

.button {
    height: 20px;
    width: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

.button img {
    width: 18px;
    height: 18px;
}