.container {
    width: 100%;
    max-width: 500px;
    background-color: var(--surface);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.inputDelimiter {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center; 
    gap: 8px; 
    margin-bottom: 16px;
}

