.container {
    width: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;     
    padding: 10px;
    background-color: var(--on-secondary);
    border-bottom: 1px solid var(--border);
    overflow: hidden;
    cursor: pointer;
}

.container:hover {
    box-shadow: 0 2px 10px;
    background-color: var(--shadow-low);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: center;
    margin-left: 10px;
}

.name {
    font-weight: 550;
    font-size: 20px;
}

.contentMessage {
    width: 400px;
    font-size: 14px;
    color: var(--disabled);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;       
}
