.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contentMessage {
    justify-content: left;
    align-items: flex-start;
}

.section {
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 2px;            
}