.container {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    gap: 6px;   
    margin: 0 auto;
}

.assistButton {
    max-width: 600px;
    display: flex;
    margin: 0 auto;
}
