.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px; 
}

.commentSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.profileSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}