.container {
    height: 20px;
    background-color: var(--on-primary);
    color: var(--primary);
    display: flex;
    justify-self: center;
    justify-content: center; 
    align-items: center;
    border-radius: 12px;
    padding: 0 10px;
    font-size: 15px;
    border: 1px solid var(--primary);
    border-color: var(--primary);
    cursor: pointer;
}

.icon {
    width: 15px;
    height: 15px;
    justify-content: flex-start;
}