.container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; 
  padding: 40px 20px;
  margin: 0 auto;
  gap: 20px; 
}

.rating {
  display: flex;
}

.icon {
  width: 35px;
  height: 35px;
}