.replyListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  margin-top: 12px;
  margin-left: 40px; 
  
  border-left: 2px solid #e0e0e0; 
  padding-left: 20px; 
}

.noResults {
  display: block;
  margin-top: 10px;
  
  margin-left: 60px; 
  
  font-size: 14px;
  color: #888888; 
}