.replyListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  margin-top: 12px;
  margin-left: 15px; 
  
  border-left: 2px solid var(--border); 
  padding-left: 20px; 
}

.noResults {
  display: block;
  margin-top: 10px;
  margin-left: 60px; 
  font-size: 14px;
  color: var(--disabled)
}