.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  border-radius: 12px;
  border: 1px solid #e2b007;
  padding: 8px 12px;
  margin-bottom: 20px;

  width: 100%;
  box-sizing: border-box;
  gap: 12px;
}

.container :global(.avatarContainer) {
  flex-shrink: 0;
}

.secondaryIconButton {
  flex: 1;
}

.secondaryIconButton button {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100%;
  gap: 8px;
  height: 45px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.secondaryIconButton button::before {
  content: '';
  width: 18px;
  visibility: hidden;
}

.avatarOnly :global(.Avatar_module__section) {
  display: none !important;
}