.container {
    display: flex;
    align-items: center;
}

.button {
    width: 130px;
    height: 45px;
    display: flex;
    justify-self: center;
    justify-content: space-evenly; 
    align-items: center;
    border-radius: 12px;
    font-size: 16px;
    background-color: var(--primary);
    color: var(--on-primary);
    border: 0;
    cursor: pointer;
    
}

.icon {
    width: 16px;
    height: 16px;
    color: var(--on-primary)
}

.text {
    font-weight: 500;
    color: var(--on-primary)
}