.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--border-light);  
    background: var(--on-secondary); 
    box-shadow: 0 8px 18px var(--shadow-low);
}

.contentComment {
    justify-content: left;
    align-items: flex-start;
}

.commentInfo {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.optionsWrapper {
    align-self: flex-start;
}

.headerComment {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.commentButton {
    background-color: transparent !important;
    padding: 0 5px !important;
    height: 25px !important;
}
.commentButton span {
    color:var(--detail) !important;
    font-weight: 500;
}

.commentButton:hover {
    background-color: var(--shadow-low) !important;
}

.headerComment > time {
    font-size: 14px;     
    margin-left: 6px;
}

.section {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
    gap: 2px;            
}

.section > button {
    width: 120px;              
    height: 25px;              
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 4px 4px;
    border: none;
    font-size: 14px;
    font-weight: 600px;
}

.replyIndicator {
    font-size: 14px;
    color: var(--disabled);
}





