.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--border-light);  
    background: var(--on-secondary); 
    box-shadow: 0 8px 18px var(--shadow-low);
}

.contentComment {
    justify-content: left;
    align-items: flex-start;
}

.headerComment {
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 8px; 
}

.headerComment > time {
    font-size: 14px;     
    margin-left: 6px;
}

.section {
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 2px;            
}

.section > button {
    width: 120px;              
    height: 25px;              
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 4px 4px;
    border: none;
    font-size: 14px;
    font-weight: 600px;
}

.replyIndicator {
    font-size: 14px;
    color: var(--disabled);
}





