.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 8px;
}

.contentComment {
    justify-content: left;
    align-items: flex-start;
}

.headerComment {
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 8px; 
}

.headerComment > time {
    font-size: 14px;     
    margin-left: 6px;
}

.section {
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 2px;            
}


