.container {
	width: 100%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch; 
	padding: 40px 20px;
	margin: 0 auto;
	gap: 20px; 
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;             
	margin-bottom: 20px;  
}

.dateContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 700px;
}

.dateContainer > input {
    flex: 1;
    min-width: 0;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


